body {
    background-color: rgb(64, 230, 230);
    font-size: 14px;
}

h1 {
    font-size: 2rem;
    color: rgb(243, 243, 250);
}

@media screen and (min-width: 600px) {
    body {
        background-color: rgb(233, 154, 97);
        font-size: 20px;
    }
    
    h1 {
        color: aliceblue;
    }
}

@media screen and (min-width: 900px) {
    body {
        background-color: chocolate;
        font-size: 22px;
    }
        
    h1 {
        color: rgb(10, 124, 54)
    }

    ol {
        display: flex;
    }

    ol li {
        display: block;
        margin-left: 10px;
        margin-right: 25px;
    }
}
.pais-menyy {
    font-family: "Montserrat", sans-serif;
    font-size: 16.67px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.67px;
    margin-left: auto;
}

.pais-menyy ul {
    list-style-type: none;
    justify-content: flex-end;
}

.pais-menyy li {
    padding: 0px;
    margin-left: 10px;
    min-width: 100px;
}

.pais-menyy a {
    color: midnightblue;
}

.pealdis {
    display: flex;
}

.pealdis-pilt-ymbris {
    display: none;
}

.pealdis-pilt {
    background-image: url();
    background-size: cover;
    width: 100%;
    min-height: 200px;
}

@media screen and (min-width: 768px) {
    .pealdis-pilt-ymbris {
        display: block;
        width: 50%;
    }
    
}
@media screen and (min-width:1400px) {
    .paissektsioon {
        background: transparent url();
    }
    
}body {
    background-color: rgb(64, 230, 230);
    font-size: 14px;
}

h1 {
    font-size: 2rem;
    color: rgb(243, 243, 250);
}

@media screen and (min-width: 600px) {
    body {
        background-color: rgb(233, 154, 97);
        font-size: 20px;
    }
    
    h1 {
        color: aliceblue;
    }
}

@media screen and (min-width: 900px) {
    body {
        background-color: chocolate;
        font-size: 22px;
    }
        
    h1 {
        color: rgb(10, 124, 54)
    }

    ol {
        display: flex;
    }

    ol li {
        display: block;
        margin-left: 10px;
        margin-right: 25px;
    }
}
.pais-menyy {
    font-family: "Montserrat", sans-serif;
    font-size: 16.67px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.67px;
    margin-left: auto;
}

.pais-menyy ul {
    list-style-type: none;
    justify-content: flex-end;
}

.pais-menyy li {
    padding: 0px;
    margin-left: 10px;
    min-width: 100px;
}

.pais-menyy a {
    color: midnightblue;
}

.pealdis {
    display: flex;
}

.pealdis-pilt-ymbris {
    display: none;
}

.pealdis-pilt {
    background-image: url();
    background-size: cover;
    width: 100%;
    min-height: 200px;
}

@media screen and (min-width: 768px) {
    .pealdis-pilt-ymbris {
        display: block;
        width: 50%;
    }
    
}
@media screen and (min-width:1400px) {
    .paissektsioon {
        background: transparent url();
    }
    
}