html {
    font-size: 16px;
}

body {
   background-color: rgb(241, 153, 118);
   font-family: Arial, Helvetica, sans-serif;
}

#konteiner {
    background-color: rgb(238, 161, 116);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

main {
    display: flex;
    padding: 0 15px;
}

aside {
    min-width: 20%;
    max-width: 30%;
    display: none;
}

header {
    display: flex;
    padding: 15px;
    align-items: center;
    flex-direction: column;
}

header nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

header .logo {
    background-image: url("./sitikas.jpg");
    width: 200px;
    height: 200px;
    background-size: cover;
}

header nav a {
    color: cadetblue;
    text-decoration: none;
    margin-left: 10px;
}

header nav a:hover {
    color: coral;
}

main {
     min-height: 600px;

}
main h2 {
    font-size: 3rem;
}

aside img {
     width: 70%;
     object-fit: cover;
}

footer {
     background-color: cornflowerblue;
     color: cornsilk;
     padding: 10px;
     min-height: 100px;
     display: flex;
     justify-content: space-around;
     align-items: center;
}

@media screen and (min-width:900px) {
    aside {
        display: block;
    }
    header {
        flex-direction: row;
    }

    header nav {
        margin-left: auto;
    }
    
}
    


    