
body {
    background-color: rgb(236, 182, 182);   
}

.konteiner {
    background-color: none;
    min-width: 95%;
    width: 900px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
}

.kast {
    width: 32%;
    height: 500px;
    background-color: rgb(240, 135, 14);
    border-width: 2px;
    border-style: solid;   
}

.pilt1 {
    background-image: url("./pildid/karksilinnus.jpg");
    background-size: cover;
}

.pilt2 {
    background-image: url("./pildid/kassari.jpg");
    background-size: cover;
}

.pilt3 {
    background-image: url("./pildid/sitikas.jpg");
    background-size: cover;
}

.pilt4 {
    background-image: url("./pildid/olustvere.jpg");
    background-size: cover;
}

.pilt5 {
    background-image: url("./pildid/mälestuskivi.jpg");
    background-size: cover;
}

.pilt6{ 
    background-image: url("./pildid/trepp.jpg");
    background-size: cover;

}

.pilt7 {
    background-image: url("./pildid/sininelaguun.jpg");
    background-size: cover;
}

.pilt8 {
    background-image: url("./pildid/mõisavaremed.jpg");
    background-size: cover;
}

.pilt9 {
    background-image: url("./pildid/koluvere.jpg");
}
