body {
    font-family: "Montserrat", sans-serif;
}

.paissektsioon {
    background: transparent url('./pildid/Hills.png') 0% 0% no-repeat padding-box;
    width: 100%;
    height: 980px;
    font-size: 16.67px;
    font-weight: bolder;
}

.paiserida {
    padding-top: 37px;
}

.pais-logoala {
    display: flex;
}

.pais-logo {
    width: 100px;
    height: 100px;
    background-image: url('./pildid/klubilogo.png.png');
    background-size: cover;
    background-repeat: none;
    font-weight: 800;
    font-size: 33px;
    letter-spacing: 0px;
    color: springgreen;
    opacity: 1;
}

.pais-nimi {
    font-weight: 800;
    font-size: 33px;
    letter-spacing: 0px;
    color: rgb(2, 116, 161);
    text-transform: uppercase;
    width: 126px;
    height: 75px;
}

.pais-menyy {
    font-family: "Montserrat", sans-serif;
    font-size: 16.67px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.67px;
    margin-left: auto;
}

.pais-menyy ul {
    list-style-type: none;
    justify-content: flex-end;
}

.pais-menyy li {
    padding: 0px;
    margin-left: 10px;
    min-width: 100px;    
}

.pais-menyy a {
    color: #0b0b0b;
}

.pealdis {
    display: flex;
    color: #0b0b0b;
    text-transform: uppercase;    
}

.pealdis-pealkirjad {
    padding-top: 231px;
}

.pealdis h1 {
    font-size: 74.39px;
    font-weight: 800;
}

.pealdis h2 {
    font-size: 39.57px;
    font-weight: 800;
}

.pealdis h3 {
    font-size: 20.83px;
    font-weight: 800;
}

.pealdis-pilt-ymbris {
    position: absolute;
    right: 0;
    width: 100%;
    overflow: hidden;    
}

.pealdis-pilt {
    background-image: url('./pildid/Image.png');
    background-size: cover;
    background-position: -300px,0px;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
   
}

.ringcrop {
    left: 55%;
    width: 800px;
    max-width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {
    .pealdis-pilt-ymbris {
        display: block;
        width: 100%;
    }    
}

@media screen and (min-width: 1400px) {
    .paissektsioon {
        background: transparent url('./pildid/Hills@2x.png') 0% 0% no-repeat padding-box;
        background-size: cover;
    }
    
}

.button {
    background-color: black;
    border: none;
    color: rgb(250, 244, 244);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
  }

